<div class="github issue-data-block activity-github-comment twixi-block expanded">
    <div class="twixi-wrap verbose actionContainer">
        <a class="twixi" href="#"><span class="icon twixi-opened"><span>Hide</span></span></a>
        <div class="action-links">
            <a class="icon icon-github" href="$entry.url"><span>Github</span></a>
        </div>
        <div class="action-details">
            <a href="#" rel="$entry.getJirauser()" class="user-hover user-avatar" style="
                background-image: url('$github.getGravatarUrl()')">$github.getJiraUser()</a>
#if ($entry.isComment())
            added a code
#else
            pushed commit
#end
            <a href="$entry.url"><abbr class="sha"> $entry.getShortSha()</abbr></a>
            to <a href="$entry.getRepoUrl()">$entry.repo</a> -
            $github.getFormattedDate()
        </div>
        <div class="action-body flooded">
            $entry.getText()
        </div>
    </div>
    <div class="twixi-wrap concise actionContainer">
        <div class="action-details">
            <a class="twixi" href="#"><span class="icon twixi-closed"><span>Show</span></span></a>
            <a href="#" rel="$entry.getJirauser()" class="user-hover user-avatar" style="
                background-image: url('$github.getGravatarUrl()')">$github.getJiraUser()</a>
#if ($entry.isComment())
            added a code
#else
            pushed commit
#end
            <a href="$entry.url"><abbr class="sha"> $entry.getShortSha()</abbr></a>
            to <a href="$entry.getRepoUrl()">$entry.repo</a> -
            $github.getFormattedDate()
        </div>
    </div>
</div>

