<html>
<head>
    <title>$action.getText("github.setup")</title>
    <meta name="decorator" content="admin"/>
</head>
## Workaround for http://jira.atlassian.com/browse/JRA-23563
#set($field="")
<body>
<table class="grid maxWidth">
    <tbody>
    <tr>
        <td class="jiraformheader">
            <h3 class="formtitle">$action.getText("github.setup")</h3>
        </td>
    </tr>
    <tr>
        <td class="jiraformbody">
            <p>$action.getText("github.setup.description")</p>

            <form method="post">
                <label for="ws">$action.getText("github.setup.wsurl")</label>
                <input type="text" name="ws" id="ws" value="$action.getWSUrl()">
                <button type="submit">Save</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>